/* Colors */
$red: #D81A1B;
$orange: #F07F1C;
$yellow: #F9C505;
$lime: #DEF20A;
$green: #79CC4D;
$blue: #307ED9;
$purple: #6D4DB0;
$dragon-fruit: #C820AF;
$pink: #C1208C;

/* Colors */
$cherry: #EB5116;
$tangerine: #E99417;
$lemon: #F2E402;
$mint: #D7EB09;
$teal: #30B8DC;
$blueberry: #6648E5;
$plum: #9C3DBF;
$cranberry: #BF1F66;

/* Support Colors */
$light-blue: #DCEDF6;
$light-green: #E3F5DA;
$light-yellow: #F5EED0;
$light-orange: #F6E6DB;
$light-red: #F6DDDD;
$light-pink: #F6DFEF;
$light-plum: #E4D5F2;
$light-purple: #DAE0F5;

/* Neutrals */
$gray-600: #272D34;
$gray-500: #5C6470;
$gray-400: #7F8C96;
$gray-300: #C3CCD2;
$gray-200: #DFE5EA;
$gray-100: #EBEEEE;
$blue-gray: #F2F2F2;
$red-gray: #FBFBFB;

/* Branding */
$dark-green: #0C3F21;
$main-nav-green: #2A6F21;
$hover-green: #399534;
$brand-green: #44A880;
$code-teal: #53E4FE;
$black: #000000;
$white: #ffffff;