/* Colors */
$red: #ca1011;
$orange: #ec7d1b;
$yellow: #f5c205;
$lime: #d9ed05;
$green: #7dc855;
$blue: #4a90e2;
$purple: #7455b7;
$dragon-fruit: #be22a7;
$pink: #be22a7;

/* Colors */
$cherry: #eb561c;
$tangerine: #ec971b;
$lemon: #f5e705;
$mint: #afdb03;
$teal: #3cbbdd;
$blueberry: #674ae2;
$plum: #9840b8;
$cranberry: #be2267;

/* Support Colors */
$light-blue: #e2f2fb;
$light-green: #e7f8de;
$light-yellow: #faf3d6;
$light-orange: #fbece2;
$light-red: #fbe2e2;
$light-pink: #fbe2f3;
$light-plum: #efe2fb;
$light-purple: #e2e8fb;

/* Neutrals */
$gray-600: #2b333d;
$gray-500: #5e6977;
$gray-400: #86939e;
$gray-300: #c7d2db;
$gray-200: #dfe6ec;
$gray-100: #f1f4f4;
$blue-gray: #f3f6f8;
$red-gray: #fafafa;

/* Branding */
$dark-blue: #0c223f;
$main-nav-blue: #21446f;
$hover-blue: #346095;
$dark-green: #62a844;
$code-yellow: #fede53;
$black: #000000;
$white: #ffffff;