/****************** ICONS ************************/
#icon {
    // margin: 0 0 24px 0;
    display: block;
    width: 70%;
    position: relative;

    .icon {
        display: block;
        margin: 24px 0;
        position: relative;
        border-bottom: 1px solid grey;

        .iconName {
            text-transform: capitalize;
        }
    }

    .searchCon {
        position: relative;
        display: flex;

        input {
            width: 100%;
            position: relative;
            display: flex;
            padding: 8px 8px 8px 32px;
            border: 1px solid #dfe6ec;
            border-radius: 3px;

            &::-webkit-search-cancel-button {
                position: relative;
                right: 20px;

                -webkit-appearance: none;
                height: 20px;
                width: 20px;
                border-radius: 10px;
                //   background-image: url(../../../assets/images/cc-blue.png);
                // background: $blue;
                // content: "X";
                // color: #fff;
            }

            &:focus {
                border: 1px solid #4a90e2;
            }

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                font-size: 16px;
                font-weight: normal;
            }
        }

        i {
            position: absolute;
            left: 0;
            display: flex;
            align-items: center;
            font-size: 16px;
            padding: 8px;
        }
    }
}


@media screen and (max-width: 768px) {
    #icons {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }


}


.mostUsed {
    display: flex;
    flex-wrap: wrap;
}

.icon-wrap {
    margin-right: 24px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// .icon-wrap:first-child {
//   margin-right: 0px;
// }

caption {
    font-weight: 400;
    font-size: 16px;
    color: #5e6977;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

// section {
//   // margin-top: 36px;
// }

.rotate-left {
    transform: rotate(-45deg);
    display: flex;
}

.rotate-right {
    transform: rotate(45deg);
    display: flex;
}

.rotate-full {
    transform: rotate(180deg);
    display: flex;
}

.icon-wrap i {
    max-width: 16px;
}

.noWrap {
    white-space: nowrap;

}

.preWrap {
    white-space: pre-wrap;
}

.x-small {
    font-size: 16px;
}

.small {
    font-size: 24px;
}

.medium {
    font-size: 32px;
}

.large {
    font-size: 48px;
}

.x-large {
    font-size: 64px;
}

.xx-large {
    font-size: 80px;
}

.icon-group {
    margin-bottom: 24px;
}


.icon-group i {
    margin-right: 16px;
}

.blue {
    color: #4a90e2;
}

.iconTest a+a {
    margin-left: 16px;
}

.iconTest {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.iconTest a {
    display: flex;
    padding: 8px 0;
}

.icon2x {
    font-size: 24px;
}

#buttonIconCont {
    display: flex !important;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #c7d2db;
    border-radius: 3px;
}

#buttonIconCont.disabled {

    background-color: #f3f6f8;
    cursor: default;
}

#buttonIconCont.disabled:focus-visible {
    border: 1px solid #c7d2db;
    background-color: #f3f6f8;
    cursor: default;

    #buttonIconCont.disabled i {
        background-color: #f3f6f8;
        color: #c7d2db;
    }
}

#buttonIconCont.disabled:hover {

    background-color: #f3f6f8;
}

#buttonIconCont.disabled:active {

    background-color: #f3f6f8;
    border: 1px solid #c7d2db;
}


#buttonIconCont.hover {

    background-color: #f3f6f8;
}

#buttonIconCont:hover {

    background-color: #f3f6f8;
}



#buttonIconCont.pressed {
    background-color: #4a90e2;
    border: none;
}

#buttonIconCont.pressed:focus-visible {
    background-color: #ffffff;
    border: 2px solid #4a90e2;
    color: #4a90e2;

    i {
        color: #4a90e2;
    }
}

#buttonIconCont.pressed:hover {
    background-color: #4a90e2;
    border: none;
}

#buttonIconCont.focus {
    background-color: #ffffff;
    border: 2px solid #4a90e2;
}

#buttonIconCont:focus-visible {
    background-color: #ffffff;
    border: 2px solid #4a90e2;
    color: #4a90e2;

}

#buttonIconCont.selected {

    background-color: #e2f2fb;
}

#buttonIconCont.selected:focus-visible {

    background-color: #ffffff;
    border: 2px solid #4a90e2;
    color: #4a90e2;
}

#buttonIconCont.selected:hover {

    background-color: #e2f2fb;
}

#buttonIconCont.selected:active {

    background-color: #4a90e2;
    color: #ffffff;
    border: none;
}


#buttonIconCont.pressed i {
    color: #ffffff;
}

#buttonIconCont.disabled i {
    background-color: #f3f6f8;
    color: #c7d2db;
}

#buttonIconCont:active {
    background-color: #4a90e2;
    color: #ffffff;
    border: none;
}


.icon-test-setup {
    display: flex;

    .icon-container {
        position: relative;
    }

    .icon-container2 {
        position: relative;
    }

    .main-icon {
        position: relative;

        i {
            font-size: 32px;
            color: #4a90e2;
        }

        .topNumber {
            z-index: 2;
            position: relative;
            width: 16px;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto';
        }
    }

    .overlay {
        .back {
            position: absolute;
            bottom: -4px;
            left: -6px;

            i {
                font-size: 18px;
                color: #fff;
            }
        }

        .front {
            position: absolute;
            bottom: -4px;
            left: -5px;

            i {
                font-size: 16px;
                color: #7dc855;
            }
        }


    }

    .overlay2 {
        // position: absolute;
        // top: 22px;
        // left: 2px;

        position: relative;


        .white-block {
            background-color: white;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 0;
        }
    }
}


.icon-test-setup2 {
    display: flex;

    .icon-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-container2 {
        position: relative;
    }

    .main-icon {
        position: relative;

        i {
            font-size: 32px;
            color: #4a90e2;
        }

        .topNumber {
            z-index: 2;
            position: relative;
            text-align: center;
            font-weight: bold;
            font-family: 'Roboto';
        }
    }

    .overlay {
        .back {
            position: absolute;
            bottom: -4px;
            left: -6px;

            i {
                font-size: 18px;
                color: #fff;
            }
        }

        .front {
            position: absolute;
            bottom: -4px;
            left: -5px;

            i {
                font-size: 16px;
                color: #7dc855;
            }
        }


    }

    .overlay2 {
        // position: absolute;
        // top: 22px;
        // left: 2px;

        position: relative;


        .white-block {
            background-color: white;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 0;
        }
    }
}


.badge {
    font-family: 'Roboto';
}


.badge2 {
    font-family: 'Roboto';
    min-height: 16px;
    min-width: 16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    border-radius: 12px;
    line-height: normal;
    background-color: #ec7d1b;
    color: #ffffff;
    display: inline-block;
}

.flip {
    display: inline-flex;
    transform: scale(-1, 1);
}

.newIcons {
    display: flex;
    flex-direction: column;
}

.newIcons i {
    margin-top: 16px;
}