@use "../../../styles/varaibles";
/* TYPEOGRAPHY STYLES */

// #typography {
//     width: 70%;
//     position: relative;
//     display: flex;
//     flex-direction: column;
// }

// section {
//   // margin: 24px 0;
// }

.section-spacer {
    margin-bottom: 48px;
}

.headers-container {
    display: flex;
}

.headers-container {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .gridCells,
    .bodyCopy,
    .smallCopy {
        margin: 0;
        position: absolute;
        bottom: 0;
        display: block;
    }
}

.header {
    max-width: 120px;
    width: 100%;
    padding: 0 5px;
    float: left;
}

.h-box {
    height: 100px;
    position: relative;
    display: block;
}

.header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header hr {
    border: 1px solid varaibles.$green;
}

#typography .headers-container {
    display: block;
    // vertical-align: top;
}


@media screen and (max-width: 768px) {
    #typography {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }


}