.banner {
    user-select: none;
    display: flex;
    border-radius: 4px;
    padding: 8px 24px;
}

.content-section {
    flex-grow: 1;
    padding-right: 10px;
}

.banner-info {
    background-color: #DCE3FA;
    color: #3173C2;
    border: 1px solid #B3D2EA;
}

.banner-success {
    background-color: #D1F3D2;
    color: #34B439;
    border: 1px solid #34B439;
}

.banner-warning {
    background-color: #F3EACC;
    color: #E47B12;
    border: 1px solid #E47B12;
}

.banner-error {
    background-color: #F6DAD7;
    color: #DF120B;
    border: 1px solid #DF120B;
}

.banner-expander-info {
    color: #3173C2;
}

.banner-expander-success {
    color: #34B439;
}

.banner-expander-warning {
    color: #E47B12;
}

.banner-expander-error {
    color: #DF120B;
}

.icon-close {
    float: right;
    padding: 2px 0;
}

.close-with-detail {
    padding: 8px 0;
}

.detail-header {
    padding: 6px 0 7px 0;
}

.single-detail-message {
    padding-left: 24px;
}

.multi-messages {
    padding-left: 14px;
}

.multi-messages li {
    list-style-type: circle;
}