.banner {
    user-select: none;
    display: flex;
    border-radius: 4px;
    padding: 8px 24px;
}

.content-section {
    flex-grow: 1;
    padding-right: 10px;
}

.banner-info {
    background-color: #e2f2fb;
    color: #346095;
    border: 1px solid #caeaf3;
}

.banner-success {
    background-color: #e7f8de;
    color: #7dc855;
    border: 1px solid #bdf0ca;
}

.banner-warning {
    background-color: #faf3d6;
    color: #ec7d1b;
    border: 1px solid #fde6d4;
}

.banner-error {
    background-color: #fbe2e2;
    color: #a80326;
    border: 1px solid transparent;
}

.banner-expander-info {
    color: #346095;
}

.banner-expander-success {
    color: #7dc855;
}

.banner-expander-warning {
    color: #ec7d1b;
}

.banner-expander-error {
    color: #a80326;
}

.icon-close {
    float: right;
    padding: 2px 0;
}

.close-with-detail {
    padding: 8px 0;
}

.detail-header {
    padding: 6px 0 7px 0;
}

.single-detail-message {
    padding-left: 24px;
}

.multi-messages {
    padding-left: 14px;
}

.multi-messages li {
    list-style-type: circle;
}